<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.urlcat.tests.client.Test_Automation_01"/>
      <class name="com.urlcat.tests.client.Test_Automation_02"/>
      <class name="com.urlcat.reset.Test_Automation_ResetData"/>
      <class name="com.urlcat.tests.server.Test_Automation_01"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
